body            
{
    margin:auto;
    width:590px;
    padding:10px;
    background-color:#ebebeb;
    font-size:14px;
    font-family: Sans-serif;
    background-image: url("../images/back.jpeg");
}
.W{

  background-image: url("../images/wall.png");
  width: auto;
  height: auto;
}

.G{

  background-image: url("../images/dock.png");
  width: auto;
  height: auto;
}
.GD{

  background-image: url("../images/box_docked.png");
  width: auto;
  height: auto;
}
.B{

  background-image: url("../images/box.png");
  width: auto;
  height: auto;

}
.Empty{

  background-image: url("../images/floor.png");
  width: auto;
  height: auto;

}
.P{

  background-image: url("../images/worker.png");
  width: auto;
  height: auto;

}
.PD{

  background-image: url("../images/worker_dock.png");
  width: auto;
  height: auto;

}
#gametable {
  display: grid;

  padding: 10px;
  grid-template-areas:
  ' i0_0 i0_1 i0_2 i0_3 i0_4 i0_5 i0_6 i0_7 i0_8 i0_9 i0_10 i0_11 i0_12 i0_13 i0_14 i0_15 i0_16 i0_17 i0_18 '
  'i1_0 i1_1 i1_2 i1_3 i1_4 i1_5 i1_6 i1_7 i1_8 i1_9 i1_10 i1_11 i1_12 i1_13 i1_14 i1_15 i1_16 i1_17 i1_18 '
  'i2_0 i2_1 i2_2 i2_3 i2_4 i2_5 i2_6 i2_7 i2_8 i2_9 i2_10 i2_11 i2_12 i2_13 i2_14 i2_15 i2_16 i2_17 i2_18 '
  'i3_0 i3_1 i3_2 i3_3 i3_4 i3_5 i3_6 i3_7 i3_8 i3_9 i3_10 i3_11 i3_12 i3_13 i3_14 i3_15 i3_16 i3_17 i3_18 '
  'i4_0 i4_1 i4_2 i4_3 i4_4 i4_5 i4_6 i4_7 i4_8 i4_9 i4_10 i4_11 i4_12 i4_13 i4_14 i4_15 i4_16 i4_17 i4_18 '
  'i5_0 i5_1 i5_2 i5_3 i5_4 i5_5 i5_6 i5_7 i5_8 i5_9 i5_10 i5_11 i5_12 i5_13 i5_14 i5_15 i5_16 i5_17 i5_18 '
  'i6_0 i6_1 i6_2 i6_3 i6_4 i6_5 i6_6 i6_7 i6_8 i6_9 i6_10 i6_11 i6_12 i6_13 i6_14 i6_15 i6_16 i6_17 i6_18 '
  'i7_0 i7_1 i7_2 i7_3 i7_4 i7_5 i7_6 i7_7 i7_8 i7_9 i7_10 i7_11 i7_12 i7_13 i7_14 i7_15 i7_16 i7_17 i7_18 '
  'i8_0 i8_1 i8_2 i8_3 i8_4 i8_5 i8_6 i8_7 i8_8 i8_9 i8_10 i8_11 i8_12 i8_13 i8_14 i8_15 i8_16 i8_17 i8_18 '
  'i9_0 i9_1 i9_2 i9_3 i9_4 i9_5 i9_6 i9_7 i9_8 i9_9 i9_10 i9_11 i9_12 i9_13 i9_14 i9_15 i9_16 i9_17 i9_18 '
  'i10_0 i10_1 i10_2 i10_3 i10_4 i10_5 i10_6 i10_7 i10_8 i10_9 i10_10 i10_11 i10_12 i10_13 i10_14 i10_15 i10_16 i10_17 i10_18 '
  'i11_0 i11_1 i11_2 i11_3 i11_4 i11_5 i11_6 i11_7 i11_8 i11_9 i11_10 i11_11 i11_12 i11_13 i11_14 i11_15 i11_16 i11_17 i11_18 '
  'i12_0 i12_1 i12_2 i12_3 i12_4 i12_5 i12_6 i12_7 i12_8 i12_9 i12_10 i12_11 i12_12 i12_13 i12_14 i12_15 i12_16 i12_17 i12_18 '
  'i13_0 i13_1 i13_2 i13_3 i13_4 i13_5 i13_6 i13_7 i13_8 i13_9 i13_10 i13_11 i13_12 i13_13 i13_14 i13_15 i13_16 i13_17 i13_18 '
  'i14_0 i14_1 i14_2 i14_3 i14_4 i14_5 i14_6 i14_7 i14_8 i14_9 i14_10 i14_11 i14_12 i14_13 i14_14 i14_15 i14_16 i14_17 i14_18 '
  'i15_0 i15_1 i15_2 i15_3 i15_4 i15_5 i15_6 i15_7 i15_8 i15_9 i15_10 i15_11 i15_12 i15_13 i15_14 i15_15 i15_16 i15_17 i15_18 '
  ;
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px  ;
  grid-template-columns:30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;

}
#gametable > div {
  background-color: #F3A921;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
img {
  object-fit: cover;
  }
  #banner{
    padding: 20px 0;
    margin: 10px;
    background-color: #F3A921;
    
  }
  #banner > p{ 
    text-align: center;
    font-size:35px;
  }